anyio
appdirs
asgiref
beautifulsoup4
blinker
body-mass-index
bs4
cachelib
certifi
charset-normalizer
click
colorama
contourpy
cssselect
cycler
exceptiongroup
fake-useragent
Flask
Flask-Cors
Flask-Session
fonttools
h11
httpcore
httpx
idna
importlib-metadata
itsdangerous
Jinja2
kiwisolver
lxml
markdown-it-py
MarkupSafe
mdurl
optional-django
packagin
parse
Pillow
prompt-toolkit
psycopg2
pyee
Pygments
pyparsing
pyppeteer
pyquery
python-dateutil
requests
rich
six
sniffio
socksio
soupsieve
tqdm
typing_extensions
urllib3
w3lib
waitress
wcwidth
websockets
Werkzeug
zipp
gunicorn